In [307]:
# importeer nodige libraries
import pandas as pd
import numpy as np

In [308]:
# lees het bestand in
redwines = pd.read_csv("redwine.csv", delimiter=";", encoding='iso-8859-1')

In [309]:
# verwijder onnodige kolommen
redwines.drop(['country','variety'],axis=1, inplace=True)

In [310]:
# set column id als index
redwines.set_index('id', inplace=True)

In [311]:
# voeg jaartal toe als aparte kolom, en verwijder nan rijen voor jaren (2465 naar 2461)
redwines['year'] = redwines['title'].str.extract(r"([1][9][9]\d|[2][0][0,1,2]\d)")
nanjaren = redwines[redwines['year'].isnull()]
redwines = redwines[redwines['year'].notnull()]
nanjaren.head()

,description,designation,points,price,province,taster_name,title,winery,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,year
id,,,,,,,,,,,,,,,,,,,,
150,The familiar rosé Lancers is all about crushed...,Lancers Rosé,81,8.0,Table wine,Kerin OKeefe,José Maria da Fonseca NV Lancers Rosé Red (Tab...,José Maria da Fonseca,7.4,1.185,-,4.25,0.097,5.0,14.0,0.9966,3.63,0.54,10.7,NaN
1190,"A light, crisp strawberry- and melon-flavored ...",Alandra Rosé,83,6.0,Portugal,Roger Voss,Herdade do Esporão NV Alandra Rosé Red (Portugal),Herdade do Esporão,6.5,0.880,0.03,5.60,0.079,23.0,47.0,0.99572,3.58,0.50,11.2,NaN
1577,This fortified red blend was aged in wood for ...,Cabriz Impar,93,30.0,Vinho Licoroso,Roger Voss,Global Wines NV Cabriz Impar Red (Vinho Licoroso),Global Wines,9.0,0.380,0.41,2.40,0.103,6.0,10.0,0.99604,3.13,0.58,11.9,NaN
2275,The wineperhaps named in honor of Homer Simps...,D'Ó,84,5.0,Portuguese Table Wine,Sean P. Sullivan,Adega Cooperativa da Batalha NV D'Ó Red (Portu...,Adega Cooperativa da Batalha,8.2,0.430,0.29,1.60,0.081,27.0,45.0,0.99603,3.25,0.54,10.3,NaN

In [312]:
# alle overige kolommen met NAN waardes
redwines[redwines.isnull().any(axis=1)].head()

,description,designation,points,price,province,taster_name,title,winery,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,year
id,,,,,,,,,,,,,,,,,,,,
4,Wood aging gives this ripe blend of Baga and T...,NaN,90,20.0,Beira Atlantico,Alexander Peartree,Quinta de Foz de Arouce 2013 Red (Beira Atlant...,Quinta de Foz de Arouce,7.0,0.69,0.07,2.5,0.091,15.0,21.0,0.99572,3.38,0.60,11.3,2013
8,"This is an impressive, powerful wine, It speak...",NaN,92,80.0,Douro,Roger Voss,Quinta do Monte Xisto 2013 Red (Douro),Quinta do Monte Xisto,8.3,0.53,-,1.4,0.070,6.0,14.0,0.99593,3.25,0.64,10,2013
12,The latest release from the partnership betwee...,NaN,90,NaN,Douro,Roger Voss,Roquette e Cazes 2007 Red (Douro),Roquette e Cazes,6.8,0.64,-,2.7,0.123,15.0,33.0,0.99538,3.44,0.63,11.3,2007
37,"Pitch-black wine, very dense, It is spicy with...",Picos de Couto Grande Escolha,93,NaN,Dão,Roger Voss,Castro Pena Alba 2007 Picos de Couto Grande Es...,Castro Pena Alba,10.0,0.31,0.47,2.6,0.085,14.0,33.0,0.99965,3.36,0.80,10.5,2007
39,"Still young, it is full of spice from wood agi...",NaN,87,NaN,Tejo,Roger Voss,Quinta do Casal Branco 2012 Red (Tejo),Quinta do Casal Branco,9.6,0.60,0.5,2.3,0.079,28.0,71.0,0.9997,3.50,0.57,9.7,2012

In [313]:
# lees tabel statistieken uit
redwines.describe()

,points,price,fixed acidity,volatile acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH,sulphates
count,2461.000000,2192.000000,2461.000000,2461.000000,2461.000000,2461.000000,2461.000000,2461.000000,2461.000000,2461.000000
mean,88.817148,24.842153,8.353759,0.527852,2.560890,0.087481,15.805567,47.248273,3.311061,0.660549
std,2.967145,25.553332,1.735696,0.178347,1.406291,0.047080,10.380019,33.199525,0.153774,0.172599
min,81.000000,5.000000,4.600000,0.120000,0.900000,0.012000,1.000000,6.000000,2.740000,0.330000
25%,87.000000,12.000000,7.100000,0.400000,1.900000,0.070000,7.000000,22.000000,3.210000,0.550000
50%,88.000000,17.000000,7.900000,0.520000,2.200000,0.079000,14.000000,38.000000,3.310000,0.620000
75%,91.000000,28.000000,9.300000,0.635000,2.600000,0.090000,21.000000,64.000000,3.400000,0.730000
max,100.000000,450.000000,15.900000,1.580000,15.500000,0.611000,72.000000,289.000000,4.010000,2.000000