In [40]:
# importeer nodige libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# lees de externe dataset in
temperatures = pd.read_csv("weatherdata_lisbon.csv", delimiter=";", encoding='iso-8859-1')
temperatures.head()

,STN---,YEARMODA,TEMP,DEWP,VISIB,Unnamed: 5,WDSP,Unnamed: 7,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT
0,85360,19900101,"55,1","50,5","6,3",24,"5,8",24,13,"999,9",59.0*,44.6*,"99,99","999,9",10000
1,85360,19900102,"50,2","47,7",5,24,"5,8",24,21,"999,9",59.0*,42.8*,"99,99","999,9",110010
2,85360,19900103,"49,5","46,6","6,6",24,"4,8",24,"9,9",20,55.4*,44.6*,"99,99","999,9",10000
3,85360,19900104,"52,1","50,7",5,24,"1,7",24,6,"999,9",57.2*,46.4*,"99,99","999,9",10000
4,85360,19900105,"54,2",54,"1,2",22,1,22,"4,1","999,9",55.4*,53.6*,"99,99","999,9",110000

In [42]:
temperatures.drop(['STN---','Unnamed: 5','Unnamed: 7','GUST','PRCP','SNDP','VISIB'], axis=1,inplace=True)
# FRSHTT = Frost, Rain, Snow, Hail, Thunder, Thornado
temperatures.rename(columns={'YEARMODA': 'Year', 'TEMP': 'Temperature','DEWP':'Dewpoint Temperature','MAX':'Max Temperature','MIN':'Min Temperature','WDSP':'Windspeed','MXSPD':'Max Windspeed'},inplace=True)
temperatures['Max Temperature'] = (temperatures['Max Temperature'].str.replace(',','.').str.rstrip("*").astype(float) - 32) / 1.8
temperatures['Min Temperature'] = (temperatures['Min Temperature'].str.replace(',','.').str.rstrip("*").astype(float) - 32) / 1.8
temperatures['Temperature'] = round((temperatures['Temperature'].str.replace(',','.').astype(float) - 32) / 1.8, 2)
temperatures['Windspeed'] = temperatures['Windspeed'].str.replace(',','.').astype(float)
temperatures['Max Windspeed'] = temperatures['Max Windspeed'].str.replace(',','.').astype(float)
temperatures['Dewpoint Temperature'] = round((temperatures['Dewpoint Temperature'].str.replace(',','.').astype(float) - 32) / 1.8, 2)
temperatures['Year']= pd.to_datetime(temperatures['Year'].astype(str), format='%Y-%m-%d')
temperatures['FRSHTT'] = temperatures['FRSHTT'].apply(lambda x: '{0:0>6}'.format(x))
# make the new columns using string indexing
temperatures['Frost'] = temperatures['FRSHTT'].str[0].astype(float)
temperatures['Rain'] = temperatures['FRSHTT'].str[1].astype(float)
temperatures['Snow'] = temperatures['FRSHTT'].str[2].astype(float)
temperatures['Hail'] = temperatures['FRSHTT'].str[3].astype(float)
temperatures['Thunder'] = temperatures['FRSHTT'].str[4].astype(float)
temperatures['Thornado'] = temperatures['FRSHTT'].str[5].astype(float)
temperatures.drop('FRSHTT',axis=1,inplace=True)
temperatures['Count'] = 1
peryear = temperatures.groupby(temperatures['Year'].map(lambda x: x.year)).sum()
peryear = peryear[['Temperature','Dewpoint Temperature','Windspeed','Max Windspeed','Max Temperature','Min Temperature','Frost','Rain','Snow','Hail','Thunder','Thornado']].div(peryear['Count'], axis=0)
#peryear = peryear[['Frost','Rain','Snow','Hail','Thunder','Thornado'] * 100].round(4)
peryear

,Temperature,Dewpoint Temperature,Windspeed,Max Windspeed,Max Temperature,Min Temperature,Frost,Rain,Snow,Hail,Thunder,Thornado
Year,,,,,,,,,,,,
1990,17.164380,266.894063,6.589625,13.044092,21.809798,13.432277,0.051873,0.348703,0.000000,0.000000,0.063401,0.000000
1991,16.773806,747.164000,6.931111,13.949722,21.702778,12.911111,0.091667,0.300000,0.000000,0.000000,0.030556,0.000000
1992,16.802623,417.788934,10.007923,16.910929,36.835307,28.051154,0.087432,0.284153,0.002732,0.002732,0.019126,0.000000
1993,16.383626,26.702582,6.839560,12.929945,20.719780,12.722527,0.098901,0.348901,0.002747,0.002747,0.030220,0.005495
1994,16.969342,42.455890,7.199178,13.518904,21.443836,13.424658,0.112329,0.298630,0.005479,0.000000,0.043836,0.000000
1995,17.995205,42.179726,6.978630,13.566849,22.479452,14.432877,0.076712,0.309589,0.000000,0.000000,0.035616,0.002740
1996,17.137432,12.306148,7.124863,13.982514,21.494536,13.598361,0.054645,0.385246,0.002732,0.000000,0.057377,0.000000
1997,18.222473,13.332280,7.435440,13.345055,22.560440,14.725275,0.140110,0.379121,0.008242,0.008242,0.060440,0.000000
1998,17.581022,27.560608,7.892541,13.551657,22.251381,13.867403,0.149171,0.273481,0.002762,0.000000,0.027624,0.000000
1999,17.373196,27.872342,8.211846,13.877410,21.622590,13.876033,0.121212,0.308540,0.002755,0.000000,0.027548,0.000000
2000,16.829071,11.735929,8.412568,14.268579,21.289617,13.341530,0.087432,0.338798,0.005464,0.002732,0.032787,0.000000
2001,16.786384,12.071890,8.637534,14.192055,20.887671,13.443836,0.106849,0.323288,0.000000,0.000000,0.021918,0.000000
2002,16.877370,12.720712,8.455616,14.497260,21.106849,13.508828,0.120548,0.364384,0.000000,0.000000,0.043836,0.000000
2003,17.255534,12.032849,8.260548,14.665753,21.569863,13.835616,0.098630,0.326027,0.000000,0.000000,0.038356,0.000000
2004,17.031452,10.649973,8.128493,14.462740,21.605479,13.487671,0.131507,0.273973,0.002740,0.002740,0.016438,0.000000
2005,17.072225,9.847940,8.140110,14.496978,21.777473,13.368132,0.079670,0.228022,0.000000,0.000000,0.008242,0.000000
2006,17.511841,12.034670,7.800000,13.961538,21.785714,14.082418,0.123626,0.302198,0.002747,0.000000,0.049451,0.000000
2007,16.926951,10.877940,8.168956,14.410440,36.581654,28.565171,0.137363,0.274725,0.005495,0.000000,0.057692,0.000000
2008,16.849781,11.518470,8.438525,14.797541,21.109290,13.464481,0.081967,0.344262,0.002732,0.002732,0.032787,0.000000
2009,17.811315,11.366740,8.272055,14.656712,22.227397,14.342466,0.095890,0.367123,0.002740,0.000000,0.049315,0.000000
2010,17.332055,11.612384,8.370685,14.838356,21.531507,13.983562,0.087671,0.397260,0.002740,0.002740,0.052055,0.000000
2011,17.409341,11.656621,8.061538,14.210440,22.002747,13.728022,0.109890,0.307692,0.000000,0.000000,0.076923,0.000000
2012,16.138603,10.078575,7.372329,13.075616,20.819178,12.197260,0.128767,0.328767,0.000000,0.000000,0.024658,0.000000
2013,16.328182,10.363939,8.356749,14.215978,20.876033,12.556474,0.077135,0.344353,0.000000,0.000000,0.041322,0.000000
2014,16.541123,11.918384,8.180274,14.289589,20.652055,13.128767,0.090411,0.435616,0.002740,0.005479,0.049315,0.000000
2015,16.814898,11.117493,8.201458,14.093878,21.618076,12.953353,0.113703,0.288630,0.000000,0.000000,0.011662,0.000000
2016,16.767432,11.221858,8.459016,14.306011,36.340771,13.076503,0.079235,0.357923,0.000000,0.000000,0.021858,0.000000
2017,17.126082,10.616384,8.256438,14.226301,22.246575,12.978082,0.084932,0.241096,0.000000,0.000000,0.027397,0.000000
2018,12.000000,9.000000,3.600000,8.900000,16.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000